html {
    background: url(./pics/developer.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans serif;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.ml2 {
    font-weight: 900;
    font-size: 3.5em;
}

.ml2 .letter {
    display: inline-block;
    line-height: 1em;
}

.job--title {
    padding: 20px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.header {
    text-align: center;
}

.circular--header {
    border-radius: 50%;
}

.center {
    text-align: center;
}

.mySlides {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
}

.resize--img {
    position: relative;
    width: 200px;
    height: 200px;
}

.circular--img {
    border-radius: 50%;
    position: relative;
    width: 300px;
    height: 300px;
    display: inline-block;
    margin: 25px 30px;
}

.job--img {
    width: 90%;
    height: auto;
    padding: 25px;
    background-color: white;
    background-color: transparent;
}

.w3-button {
    border-radius: 50%;
    padding: 5px;
    background-color: white;
    color: black;
    border: 1px solid black;
    width: 60px;
    height: 60px;
    font-size: 30px;
}

.dog--img {
    margin: 10px;
    width: 100px;
}
